*{
	box-sizing:border-box;
}
html,
body{
	margin:0;
	border:0;
	padding:0;
	height:100%;
	width:100%;
}

#chatContainer{
	background-color:#262633;
	min-height:-webkit-calc(100% - 40px);
	min-width:100%;
	margin-bottom:40px;
}
#chatArea{
	min-height:-webkit-calc(100% - 40px);
	min-width:-webkit-calc(100% - 40px);
	margin-left:40px;
	margin-bottom:40px;
	background-color:#262633;
	position:absolute;
	padding:5px;
	font-family: Arial, Helvetica, sans-serif;
	color:#deeae8;
}
.myMessage{
	padding:5px;
	border-bottom: 1px solid #2d2d3d;
}
.message{
	background-color:#333342;
	text-align:right;
	padding:5px;
	border-bottom: 1px solid #2d2d3d;
}
.encryptOn{
	text-align:center;
	background-color:green;
	padding:5px;
	border-bottom: 1px solid #2d2d3d;
}
.encryptOff{
	text-align:center;
	background-color:red;
	padding:5px;
	border-bottom: 1px solid #2d2d3d;
}
.settingsBar{
	min-height:-webkit-calc(100% - 40px);
	position:fixed;
	min-width:40px;
	border-right:1px solid #0f0f21;
	background-color:#202030;
	z-index:1;
	-webkit-user-select: none;
	-webkit-transition: min-width 0.5s ease-out;
	transition: min-width 0.5s ease-out;
}
.settingsOpened{
	min-width:300px;
}
#settingsContainer{
	height:30px;
	width:30px;
	position:absolute;
	margin-top:5px;
	margin-left:5px;
}
#settingsContainer:active #settings{
	opacity:1;
}
#settings{
	height:30px;
	width:30px;
	-webkit-clip-path: polygon(43% 3%, 56% 3%, 61% 15%, 65% 18%, 80% 12%, 
	89% 21%, 83% 34%, 83% 37%, 98% 43%, 98% 56%, 85% 61%, 84% 66%, 89% 79%, 
	80% 88%, 67% 82%, 63% 85%, 56% 98%, 43% 98%, 39% 85%, 34% 83%, 20% 88%, 
	11% 79%, 16% 67%, 16% 64%, 3% 56%, 3% 43%, 15% 38%, 17% 36%, 11% 21%, 
	20% 12%, 33% 18%, 38% 16%);
	background-color:#d5e3ea;
	opacity: 0.5;
	display:flex;
	justify-content:center;
	align-items:center;
}
.checkBox{
	position: absolute;;
	display: inline-block;
	width: 60px;
	height: 34px;
}
#innerSettings{
	height:80%;
	width:80%;
	-webkit-clip-path: circle(16.0% at 50% 50%);
	background-color:#141422;
}
#footer{
	position:fixed;
	bottom:0;
	width:100%;
	height:40px;
	background-color:#202030;
	display:flex;
	justify-content:center;
	align-items:center;
	border-top:1px solid #0f0f21;
}
#textInput{
	margin:8px;
	flex:1;
}
#attachContainer{
	height:32px;
	width:32px;
	margin:5px 5px 5px 0px;
}
#attachment{
	height:100%;
	width:100%;
	top:0;
	z-index:1;
}
#buttonContainer{
	height:32px;
	width:32px;
	margin:5px 5px 5px 0px;
}
#buttonContainer:active #sendButton{
	background-color:#5B9185;
}
#sendButton{
	height:100%;
	width:100%;
	background-color:#2B6C5D;
	-webkit-clip-path: polygon(10% 10%, 90% 50%, 10% 90%, 20% 53%, 55% 50%, 20% 47%);
}
.myImageContainer{
	width:100%;
	max-height:522px;
	padding:5px;
	border-bottom: 1px solid #2d2d3d;
}
.imageContainer{
	background-color:#333342;
	width:100%;
	text-align:right;
	max-height:522px;
	padding:5px;
	border-bottom: 1px solid #2d2d3d;
}
.myImage{
	max-height:512px;
	max-width:512px;
}
.image{
	/*
		float:right;
	*/
	max-height:512px;
	max-width:512px;
}

.settingsOption{
	position:absolute;
	right:40px;
	top: 50px;
	white-space: nowrap;
	overflow:hidden;
	width:220px;
	display: flex;
	justify-content:center;
	align-items:center;
}
#switchText{
	color:white;
	flex:1;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #3f3f47;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2B6C5D;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	flex:1;
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
.clientName{
	display:inline-block;
	margin-left:20px;
	color:white;
	/* flex:1; */
}
.nameDiv{
	height:40px;
	width:40px;
	line-height: 40px;
	border-radius:50%;
	background-color:#2B6C5D;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: white;
	text-align: center;
	display:inline-block;
	/* flex:1; */
}
.otherNameDiv{
	background-color:#95A5A6;
}
#nameContainer{
	position:absolute;
	right:40px;
	top: 140px;
	white-space: nowrap;
	overflow:hidden;
	width:220px;
	/* display: flex; */
	/* justify-content:center; */
	/* align-items:center; */
}
#otherNameContainer{
	position:absolute;
	right:40px;
	top: 200px;
	white-space: nowrap;
	overflow:hidden;
	width:220px;
	/* display: flex; */
	/* justify-content:center; */
	/* align-items:center; */
}
#settingsDivider{
	color:white;
	position:absolute;
	right:40px;
	top: 100px;
	white-space: nowrap;
	overflow:hidden;
	width:220px;
	padding:5px;
	border-bottom: 1px solid #95A5A6;
}